
body {
  background-image: url("../images/soccer-background.jpg");
  
}

p {
  color: red;
  background-color: black;
  text-transform: uppercase;
  font-weight: 700;
  text-align: center;

}

div {

  overflow:auto;
  
}


.gif-form {
  position: fixed;
}